name: CI
on:
  push:
    paths-ignore:
      - "*.md"
      - ".vscode/**"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths-ignore:
      - "*.md"
      - ".vscode/**"
jobs:
  biome:
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        env: [src]
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1
        with:
          reviewdog_version: latest
      - name: Run reviewdog with eslint
        uses: mongolyy/reviewdog-action-biome@3d9b187cd09986d28b78025c507c6bd7ad18220f # v2.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          filter_mode: diff_context
          fail_level: error
          reporter: github-pr-review
          workdir: ${{ matrix.env }}
